@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
} 

body {
    background-color: #000;
    font-family: Trebuchet MS, Helvetica;

}

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 20px;
    margin-left: 40px;
    font-family: Trebuchet MS;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;

    }

    #about {
        float: right;
        width: 67%;
    }
}

@media (min-width: 700px) {
    #logo {
        margin-top: 30px;
        float: left;
        width: 30%;
        font-size: 1.1em;

    }

    #about {
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1em;
    line-height: 30px;
    margin-bottom: 40px;
}

#about > a {color:#fff}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: underline;
}

#about > a:not(:last-child) {
    margin-right: 3%;
}

.fixed {
    z-index: 500;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;

}

.fixed #about a {color: #343434;}
.fixed #about a:hover {color: #7c7c7c;}

#top {
    width: 100%;
    
    background-image: url(https://www.furnimob.md/wp-content/uploads/2017/09/fasade-pentru-bucatarie-106.jpg);
    background-blend-mode: multiply;    
    background-size: cover;
    text-align: center;
    color: #fff;
}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.5em;
        padding-top: 50%;
        height: 500px;
    }
}

#top h1 {
    padding-top: 20%;

}

#top h3 {
    color: rgb(228, 88, 88);

}

#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: tan;
    font-size: 1.3em;
    
}

@media(min-width: 1401px) {
    #main {
        padding: 80px 10%;
        width: 80%;
    }
}

@media (max-width: 700px) {
    #main div {
       width: 98%!important; 
       margin-bottom: 20px;
    }
}

#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h4 {font-size: 1.8em}
#main span {color: rgb(62, 50, 230);}

.text {
    font-style: oblique;
}

#Design {
    float: left;
    background-image: url(https://f.vividscreen.info/soft/f16007650da2e9f116fae11fe274fcf0/Colorful-Lines-2880x1920.jpg);
    background-blend-mode: multiply;
    background-color: #4f1c75;
    background-size: cover;
    background-attachment: fixed;

    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: white;

}

#Design h2 {font-size: 2em}
#Design h5 {color: rgb(240, 186, 10);}

#Design .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 10%;
}

#Design .img:nth-child(odd) {
    margin-left: 10%;
}

#Design img {
    background: #fafafa;
    padding: 5px;    
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 700px;
}

#Design span {
    float: left;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;

}

@media (max-width: 700px) {
    #Design .img {
       width: 80%!important; 
       margin-right: o!important;
       margin-left: 10px!important;
    }
}

@media (max-width: 700px) {
    #Gallery .img {
       width: 80%!important; 
       margin-right: o!important;
       margin-left: 10px!important;
    }
}

#contacts {
    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid #ccc;
    background: #f4f4f4;
}

.contacts-container {
    text-align: center;
    margin: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dancing' serif;
    font-weight: lighter;
}

#contacts h5 {font-size: 3em; color: #4f4f4f;}

#form_input {
    margin-top: 10px;
    width: 35%;
    margin-left: 38%;
    font-size: 1.1em;
}

#form_input label {
    color: #505050;
    cursor: pointer;
    font-size: 1.4em;
    font-family: Dancing serif;
}

#form_input label > span {
    color: #e87e7e;
}

#form_input input, #form_input textarea {
    margin-bottom: 10px;
    width: 50%;
    padding: 1% 2px;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 0.9em;
    color: #4a4a4a;

}

#form_input input:focus, #form_input textarea:focus {
    border-color: #333;
}

.button {
    float: left;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #ec6550;
    text-shadow: #454545 0 0 2px;
    cursor: pointer;
    color: white;
    font-family: Dancing serif;
}

.button.hover {
    background-color: #c15443;
}

.myphoto {
    width: 370px;
    float: left;
    margin-right: 20px;
    
}

.mydescription {
    color: blanchedalmond;
    font-style: italic;
    font-style: oblique;
    font-size: 16px;
}

#myjobs {
    padding: 25px;
    float: left;
    color:gold;
    text-align: center;
    
}

#myjobs img {
    background: #fafafa;
    padding: 5px;    
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
}

#myjobs .img {
    float: left;
    width: 40%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
}

.about-me-title {
    color: turquoise;
    font-size: 24px;
    margin: 450px;
    margin-top: 15px;
    padding-bottom: 25px;
}

.my-signature {
    color: tomato;
    margin-left: 350px;
    padding-top: 50px;
}

.mydescription {
    margin-top: 30px;
}

.contacts-link-type {
    line-height: 5px;
}